html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color:inherit;
}

.container {
    width: 100%;
    position: relative;
}

/* 1.First level */
.card-content {
    padding-top: 25px;
    padding-bottom: 70px;
    background-color: #0d5825;
    font-size: 25px;
    text-align: center;
    color:white;
}

blockquote {
    margin-bottom: 100px;
}

blockquote p {
    margin: 0;
    font-weight: bold;
}

.card-content img {
    width: 150px;
}

.card img:hover {
    transition: 1s;
}

.card-1 {
    transform: rotate(-18deg) translate(100px, 35px);
}

.card-1:hover {
    transform: rotate(-18deg) translate(100px, -10px); 
}

.card-2 {
    transform: rotate(-8deg) translate(0px, 6px);
}

.card-2:hover {
    transform: rotate(-8deg) translate(0px, -25px);
}

.card-3 {
    transform: rotate(8deg) translate(-92px, 35px);
}

.card-3:hover {
    transform: rotate(8deg) translate(-92px, -10px);
}

/* 2.Second level */

.boxes {
   margin-top: 50px;
   margin-bottom: 250px;
}
.box_1, .box_2, .box_3 {
    position: absolute;
    width: 70px;
    height: 70px;
}
.box_1 {
    background-color:#ff8887;
}

.box_2 {
    background-color:#7d8aea;
    transform: translate(45px, 35px);
    z-index: 3;
}

.box_3 {
    background-color:#4eef98;
    transform: translate(85px, 70px);
    z-index: 2;
}

/* 3.Third level */
.menu {
    width: 250px;
    height: 100vh;
    left: -200px;
    position: inherit; 
    text-transform: uppercase;
    transition:  left 0.8s ease;;
    background-color:#808080;
    color:white;
}

.menu:hover {
    left: 0;
}

.menu:hover p {
    display: none;
}

.menu_here {
    float: left;
}

.menu p {
    height: inherit;
    font-size: 25px;
    text-align: center;
    writing-mode: vertical-lr;
    padding-left: 15px;
    padding-right: 5px;
}

a:hover {
    color:orange;
    transition: color 0.6s ease;
}

li {
    list-style: none;
    font-size: 25px;
    line-height: 50px;
  }

.menu_here li:before {
    content: "\2666";
    color: orange;
}





/* 4. Fourth level */
@-webkit-keyframes square {
    0% {
        top: 0;
        left: 0;
        background-color:red;
    }
    
    25% {
        top:200px;
        left:0;
        background-color:blue;
    }
    
    50% {
        top:200px;
        left:400px;
        background-color:green;
    }
    
    75% {
        top:0px;
        left:400px;
        background-color:yellow;
    }

    100% {
        top: 0;
        left: 0;
        background-color:red;
    }
    
}

@keyframes square {
    0% {
        top: 0;
        left: 0;
        background-color:red;
    }
    
    25% {
        top:200px;
        left:0;
        background-color:blue;
    }
    
    50% {
        top:200px;
        left:200px;
        background-color:green;
    }
    
    75% {
        top:0px;
        left:200px;
        background-color:yellow;
    }

    100% {
        top: 0;
        left: 0;
        background-color:red;
    }
    
}

.container-box {
    margin:30px auto 0;
    width:400px;
    height:400px;
    position:relative;
}

    .box {
        -webkit-animation: square 5s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
        animation: square 5s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
        width:100px;
        height:100px;
        position:absolute;
        top:0;
        left:0;
    }